<body data-turbo="false">
  <%= yield %> 

<h1>Comment#new</h1>
<p>Find me in app/views/comment/new.html.erb</p>
<% if @comment.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <%= form_tag url_for(controller: 'comment', action: 'create'), method: "post" do %>
    <%= hidden_field_tag 'gossip_id', @current_gossip.id %>
    <%= label_tag 'Content' %>
    <%= text_area_tag 'content', @comment.content %>
    <%= submit_tag "Create Comment" %>
  <% end %>
</div>
</body>


