<body data-turbo="false">
  <%= yield %> 

<h1>Gossip#new</h1>
<p>Find me in app/views/gossip/new.html.erb</p>
<% if @gossip.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <%= label_tag 'Title' %>
    <%= text_field_tag 'title', @gossip.title %>
    <br /> <br />
    <%= label_tag 'Content' %>
    <%= text_area_tag 'content', @gossip.content %>
    <br /> <br />
    <br /> <br />
    <%= submit_tag "Create Post" %>
  <% end %>
</div>
</body>